.hotBox {
  margin-top: 26px;
  background-color: #fff;
  padding: 10px;
  .title {
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
  }
  :global {
    .ant-card-body {
      padding: 12px;
      background-color: #f0f2f5;
    }
  }
  .headerInfo {
    position: relative;
    text-align: center;
    & > span {
      display: inline-block;
      line-height: 22px;
    }
    & > p {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
    }
    & > em {
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 46px;
      background-color: #c1c2c5;
    }
  }
}

.lessonnum {
  margin: 0;
  margin-top: 26px;
  display: flex;
  .item {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490px;
    height: 150px;
    padding: 0 15px;
    padding-right: 25px;
    margin-left: 56px;

    &.blue {
      background: url(/images/common/img_bg_blue.jpg) no-repeat;
    }

    &.red {
      background: url(/images/common/img_bg_red.jpg) no-repeat;
    }

    &.green {
      background: url(/images/common/img_bg_green.jpg) no-repeat;
    }

    &.first {
      margin-left: 0;
    }

    .desc {
      .descTitle {
        font-size: 36px;
      }

      .descContent {
        font-size: 24px;
      }
    }

    .rightNum {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      font-size: 40px;
      border: 2px solid;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
