<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>南昌市双师课堂</title>
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.8.2/skins/default/aliplayer-min.css" />
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.8.2/aliplayer-min.js"></script>
    <script type="text/javascript" src="/config/system.js?v=<%- new Date().getTime() -%>"></script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement('script');
        hm.src = 'https://hm.baidu.com/hm.js?8aad2f428b80791b6c99278f524a366d';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
